@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  background: rgb(53, 53, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

.container {
  min-width: 94%;
  width: 94%;
  max-width: 650px;
  margin: 1.3em auto 4px auto;
}

.wrapper {
  width: 100%;
  background: rgb(53, 53, 238);
  box-shadow: 4px 4px 8px rgb(4, 4, 165), 7px 7px 12px rgb(63, 63, 243);
  border-radius: 15px;
}

.input__container {
  padding: 10px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.input__container input {
  outline: none;
  border: none;
  background: rgb(53, 53, 238);
  border-bottom: 1px solid rgb(4, 4, 165);
  padding: 5px;
  color: white;
  margin-top: 15px;
  width: 60%;
  font-family: "Poppins";
}

.input__container label {
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.input__container button {
  outline: none;
  border: none;
  background: rgb(53, 53, 238);
  box-shadow: 4px 4px 8px rgb(4, 4, 165), 7px 7px 12px rgb(63, 63, 243);
  padding: 5px 10px;
  margin-left: 5px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  width: fit-content;
  font-family: "Poppins";
}

.input__container button:active {
  cursor: pointer;
  background: rgb(4, 4, 165);
}

.input__container button:hover {
  cursor: pointer;
  background: rgb(4, 4, 165);
}

.img__container {
  width: 100%;
  height: 110px;
}

.img__container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.input__container p{
  margin-top: 10px;
  font-size: .9rem;
  color: rgb(43, 1, 1);
  font-weight: bolder;
}

main {
  background: rgb(219, 205, 205);
  color: rgb(1, 1, 110);
  border-radius: 15px 15px 8px 8px;
  padding: 10px;
  margin-top: 1rem;
}

.flex__display {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
}

@media (max-width: 500px){
  .flex__display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
  }

  .flex__display:nth-child(0){
    margin-bottom: 3rem;
  }

  .img__container {
    width: 100%;
    height: 90px;
  }
}

@media (max-width: 400px) {

  .input__container label {
    font-size: 13px;
  }

  .flex__display div {
    margin-bottom: 0.6em;
  }
}
